* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  /* background: #f3f3fb; */
  background: #f3f3fb;
  color: #0d1c2e;
}

a {
  text-decoration: none;
  color: #0d1c2e;
}
